.server{
    color: #fff;
    overflow: hidden;
    border-bottom: 1px solid #fff;
    font-size:14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom:5px;
}
.user{
    color: #fff;
    overflow: hidden;
    font-size:13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom:5px;
}
p{
    color: #fff;
    font-size:12px;
}
hr{
    border: 0;
    height: 1px;
    background: #fff;
    opacity:0.6;
}
.mat-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom:5px;
}
.mat-button button{
    width:100%;
    margin:0 10px;
}
.barcode {
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.loading{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.con-price {
    margin-top:32px;
}
.con-price h6, .con-price h5, .con-price h3 {
    color: #fff;
}