<div class="row">
  <div class="col-12">
    <mat-progress-spinner color="primary" mode="indeterminate" class="mt-2 mr-auto ml-auto" *ngIf="loading">
    </mat-progress-spinner>

    <div *ngIf="!loading">
      <hr>
      <div class="w-100">
        <!--button mat-raised-button color="accent" class="w-100">Load Barcode</button-->
        <button mat-raised-button color="accent" class="w-100" (click)="scanProduct()">Scan Product</button>
      </div>
      <mat-progress-spinner diameter="30" color="primary" mode="indeterminate" class="mt-2 mr-auto ml-auto" *ngIf="loading_product">
      </mat-progress-spinner>
      <div *ngIf="product" class="text-center text-white mt-2">
        <img [src]="'data:image/jpeg;base64,' + product.image" class="img-fluid" *ngIf="product.image != false" />
        <h4>{{product.name}}</h4>
        <h6 class="barcode">BarCode N°: {{product.barcode}}</h6>
        <h3>{{product.lst_price | currency:product.currency:'symbol':'':local}}</h3>
      </div>
      <div *ngIf="err !== ''" class="text-center text-white mt-2">
        <h4>{{err}}</h4>
      </div>
    </div>
  </div>
</div>
