<div class="odoo-app">
  <h1>{{title}}</h1>
</div>
<div class="odoo-input" [@logged]="logState">
  <form #form (submit)="logIn($event)">
    <mat-form-field class="mat-input">
      <mat-label>Server</mat-label>
      <input matInput type="text" name="server" value="" placeholder="your odoo server" required>
    </mat-form-field>
    <mat-form-field class="mat-input">
      <mat-label>Database</mat-label>
      <input matInput type="text" name="db" value="" placeholder="your db" required>
    </mat-form-field>
    <mat-form-field class="mat-input">
      <mat-label>User</mat-label>
      <input matInput type="text" name="user" value="" placeholder="your admin user" required>
    </mat-form-field>
    <mat-form-field class="mat-input">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="pass" value="" placeholder="your admin password" required>
    </mat-form-field>
    <div class="mat-button">
      <button mat-raised-button color="primary">Log in</button>
    </div>
  </form>
</div>

<div class="odoo-logged odoo-input" *ngIf="showData">
  <div class="loading" *ngIf="inLoad">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div class="odoo-content-data" *ngIf="!inLoad">
    <h2>{{server}}</h2>
    <h3>User: {{user}}</h3>
    <div class="mat-button">
      <button mat-raised-button color="primary" (click)="logOut()">Log Out</button>
    </div>
    <hr>
    <div class="mat-button">
      <button mat-raised-button color="accent" (touchend)="startScann()">Scan Barcode</button>
    </div>
    <div *ngIf="barcode != ''">
      <hr>
      <p>BarCode N°: {{barcode}}</p>
      <p>BarCode Format: {{barcode_format}}</p>
    </div>
  </div>
</div>

<footer>
  <span class="pcp text-center">
        <span>&#112;&#111;&#119;&#101;&#114;&#101;&#100;
          &#032;&#098;&#121;
          &#032;&#077;&#111;&#108;&#100;&#101;&#111;
          &#032;&#073;&#110;&#116;&#101;&#114;&#097;&#099;&#116;&#105;&#118;&#101;</span>
  </span>
</footer>
