.odoo-app {
  padding-top:10px;
}
.logo{
  max-width:50%;
}
h1{
  color: #fff;
  font-size: 15px;
  width:100%;
}
.pcp {
  margin-top:15px;
  font-size:11px;
  color: #fefefe;
  text-shadow: 0 1px 1px #010101;
  opacity:0.4;
}