.odoo-app {
  padding-top:10px;
}
.logo{
  max-width:70%;
}
h1{
  color: #fff;
  font-size: 15px;
  width:100%;
}
hr{
  border: 0;
  height: 1px;
  background: #fff;
  opacity:0.6;
}
.pcp {
  margin-top:15px;
  font-size:11px;
  color: #fefefe;
  text-shadow: 0 1px 1px #010101;
  opacity:0.4;
}
.mo-logo{
  opacity: 0.5;
}