@use '@angular/material' as mat;
@import '@angular/material/theming';

@include mat.core();

$candy-app-primary: mat.define-palette(mat.$teal-palette, A200);
$candy-app-accent:  mat.define-palette(mat.$indigo-palette, 300);

$candy-app-warn:    mat.define-palette(mat.$red-palette, A100);

$candy-app-theme: mat.define-dark-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include mat.all-component-themes($candy-app-theme);
