.mat-input{
    width:100%;
    margin-top:-10px;
    margin-bottom:-5px;
}
input.mat-input-element {
    color:#fff;
}
.mat-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom:5px;
}
.mat-button button{
    width:100%;
    margin:0 10px;
}